:root {
	--color-primary: #eb2f64;
	--color-primary-light: #FF3366;
	--color-primary-dark: #BA265D;
	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;
	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;
	--shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
	--shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
	--line: 1px solid var(--color-grey-light-2);
  }

html{
	height: 100%;
	margin: 0;
}

body{
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
  	flex-direction: column;
}

/* Text Area */
.ml-container{
	background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
 	background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	/* background-size: cover;
	background-repeat: no-repeat; */
 	min-height: 80vh;
    /* margin: 30px 0; */
	flex: 1 0 auto;
}

.message-box{
    margin-bottom: 20px;
}

/* Result */
.results{
	background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
 	background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	/* background-size: cover;
	background-repeat: no-repeat; */
 	min-height: 80vh;
    padding: 30px 0 0;
	flex: 1 0 auto;
}

.submitButton {
    background-color: #A8DADC;
    font-size: 15px;
    width: 200px;
    padding: 15px 7px;
    border-radius: 4px;
    margin-top: 25px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #ffffff;
    transition: background-color 250ms ease-in-out;
}

.submitButton:hover, .submitButton:focus {
    background-color: #7FCACC;
}

.danger{
    color: #ff0000;
}

.safe{
    color: green;
}

.gif{
	width: 30%;
}
